
<!DOCTYPE html>
<html lang="en" ng-app="ia3vpApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>ia3vp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

  <body ng-controller="ementaCtrl">
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ia3vp (Protótipo)</a>

    </nav>

    <div class="jumbotron" ng-show="!ementa">
      <div class="container">
        <form>
        	<button class="btn btn-link" ng-click="ementa = 'PROCESSUAL CIVIL - CONFLITO NEGATIVO DE COMPETÊNCIA - DISCUSSÃO ENTRE VARA DE DIREITO BANCÁRIO (SUSCITANTE) E VARA CÍVEL (SUSCITADA), AMBAS DA COMARCA DE SÃO JOSÉ - AÇÃO REVISIONAL - CONTRATO DE MÚTUO FIRMADO COM COOPERATIVA DE CRÉDITO - INSTITUIÇÃO FINANCEIRA FISCALIZADA PELO BANCO CENTRAL - INTELIGÊNCIA DO ART. 1º, CAPUT E § 1º, DA LEI COMPLEMENTAR N. 130/2009 - DEBATE ACERCA DE ENCARGOS DE NATUREZA BANCÁRIA ALEGADAMENTE ABUSIVOS E ILEGAIS - MATÉRIA ABRANGIDA PELO DIREITO BANCÁRIO - CONFLITO IMPROCEDENTE - COMPETÊNCIA DA VARA DE DIREITO BANCÁRIO SUSCITANTE.<br>   É das varas de Direito Bancário a competência para julgar feitos envolvendo pleito revisional de contrato de mútuo firmado com cooperativa de crédito - que legalmente é considerada instituição financeira fiscalizada pelo Bacen -, em demanda onde haja discussão acerca de encargos de natureza bancária alegadamente abusivos e ilegais.'">
        		Usar exemplo de ementa ...
        	</button>
        	<textarea class="form-control" rows="10" ng-model="ementa" placeholder="Cole aqui o texto da ementa..."></textarea>
        </form>
      </div>
    </div>

    <div class="container">
    	<br>
      <div class="row" ng-show="ementa">
        <div class="col-md-12">
          <h2>Análise textual</h2>
          <p ng-bind-html="getAnaliseTextual()"></p>
          <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Classificações</h2>
          <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
        </div>
		<div class="col-md-6">
          <h2>Processos similares</h2>
          <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; <a href="https://github.com/ia-tjsc">https://github.com/ia-tjsc</a></p>
      </footer>
    </div>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-sanitize.js" crossorigin="anonymous"></script>
		
	<script src="app.js"></script>
	
	<pre>
	{{classificacoes | json}}
	</pre>
  </body>
</html>
